.yellow-bg {
  background: yellow;
}

.alert-box {
  background: #aba8f4;
  color: #4646b4;
  padding: 20px;
  border-radius: 5px;
  display: none;
}

.alert-box p {
  display: inline;
}
